
/* ===== PermanentMarker ===== */
@font-face {
    font-family: PermanentMarker;
    src: url("/ressources/fonts/PermanentMarker/PermanentMarker-Regular.ttf");
}

/* ===== Poppins ===== */

/* Normal style */
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    src: url("/ressources/fonts/Poppins/Poppins-Black.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    src: url("/ressources/fonts/Poppins/Poppins-ExtraBold.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    src: url("/ressources/fonts/Poppins/Poppins-Bold.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    src: url("/ressources/fonts/Poppins/Poppins-SemiBold.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    src: url("/ressources/fonts/Poppins/Poppins-Medium.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url("/ressources/fonts/Poppins/Poppins-Regular.ttf")
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    src: url("/ressources/fonts/Poppins/Poppins-Light.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    src: url("/ressources/fonts/Poppins/Poppins-ExtraLight.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 100;
    src: url("/ressources/fonts/Poppins/Poppins-Thin.ttf")
}

/* Italic style */
@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 900;
    src: url("/ressources/fonts/Poppins/Poppins-BlackItalic.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 800;
    src: url("/ressources/fonts/Poppins/Poppins-ExtraBoldItalic.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 700;
    src: url("/ressources/fonts/Poppins/Poppins-BoldItalic.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 600;
    src: url("/ressources/fonts/Poppins/Poppins-SemiBoldItalic.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 500;
    src: url("/ressources/fonts/Poppins/Poppins-MediumItalic.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 400;
    src: url("/ressources/fonts/Poppins/Poppins-Italic.ttf")
}
@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 300;
    src: url("/ressources/fonts/Poppins/Poppins-LightItalic.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 200;
    src: url("/ressources/fonts/Poppins/Poppins-ExtraLightItalic.ttf")
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 100;
    src: url("/ressources/fonts/Poppins/Poppins-ThinItalic.ttf")
}
